# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

client-side/node_modules
client-side/dist
client-side/dist-ssr
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#backend
server-side/node_modules
server-side/public/hot
server-side/public/storage
server-side/storage/*.key
server-side/vendor
server-side/.env
server-side/.env.backup
server-side/.phpunit.result.cache
server-side/docker-compose.override.yml
server-side/Homestead.json
server-side/Homestead.yaml
server-side/npm-debug.log
server-side/yarn-error.log
/.idea
/.vscode

